In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from collections import Counter

In [24]:
sd =  pd.read_csv('./Data/store.csv', index_col = 0)
td =  pd.read_csv('./Data/train.csv', low_memory=False)

In [25]:
#dropping Customers col
del td['Customers']

In [26]:
#merge(left_df, right_df, on=’Customer_id’, how=’inner’)
data = pd.merge(sd,td, on = 'Store')

In [27]:
# checking to see how many null values we have in each of the other columns
columns_with_nulls = []
for column in data.columns:
    if data.loc[:, column].isnull().any():
        columns_with_nulls.append(column)

for column in columns_with_nulls:
    percent_missing = round(((data.loc[data.loc[:, column].isnull()].shape[0] / data.shape[0]) * 100), 4)
    print("Column {} has {}% missing values \n".format(column, percent_missing))

Column CompetitionDistance has 0.2644% missing values

Column CompetitionOpenSinceMonth has 31.7605% missing values

Column CompetitionOpenSinceYear has 31.7605% missing values

Column Promo2SinceWeek has 49.0959% missing values

Column Promo2SinceYear has 49.0959% missing values

Column PromoInterval has 49.0959% missing values

Column DayOfWeek has 2.9811% missing values

Column Sales has 2.9823% missing values

Column Open has 3.014% missing values

Column Promo has 3.0207% missing values

Column StateHoliday has 3.0074% missing values

Column SchoolHoliday has 3.0376% missing values

In [28]:
# for columns with only a very small amoung of null values, we will simply drop the nulls that are there.
columns_with_few_nulls = ['CompetitionDistance',
                          'DayOfWeek',
                          'Sales',
                          'Open',
                          'Promo',
                          'StateHoliday',
                          'SchoolHoliday',
                          'CompetitionOpenSinceMonth',
                          'CompetitionOpenSinceYear',
                          'Promo2SinceWeek',
                          'Promo2SinceYear',
                          'PromoInterval'
                         ]
for column in columns_with_few_nulls:
    data = data.loc[~data.loc[:, column].isnull()]

In [29]:
data.loc[(data.StateHoliday == 0), 'StateHoliday'] = 'd'

In [30]:
le = LabelEncoder()  
data['StoreType'] = le.fit_transform(data['StoreType'])
data['Assortment'] = le.fit_transform(data['Assortment'])
data['StateHoliday'] = le.fit_transform(data['StateHoliday'])

In [31]:
enc_nom_1 = (data.groupby('Store').size()) / len(data)
enc_nom_1

Store
2       0.002776
3       0.002681
11      0.002800
14      0.002765
15      0.002765
          ...
1105    0.002711
1106    0.002812
1107    0.002591
1109    0.002621
1111    0.002747
Length: 365, dtype: float64

In [32]:
data['Store_f_enc'] = data['Store'].apply(lambda x : enc_nom_1[x])

In [33]:
data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Date,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,Store_f_enc
562,2,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2013-01-01,2.0,0.0,0.0,0.0,1,1.0,0.002776
564,2,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2013-01-03,4.0,4159.0,1.0,0.0,0,1.0,0.002776
565,2,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2013-01-04,5.0,4484.0,1.0,0.0,0,1.0,0.002776
566,2,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2013-01-05,6.0,2342.0,1.0,0.0,0,0.0,0.002776
567,2,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2013-01-06,7.0,0.0,0.0,0.0,0,0.0,0.002776

In [34]:
del data['Store']

In [ ]:
data